<!DOCTYPE html>
<html>

<head>
    <title>ISO Risk Evaluation Software</title>
    <%- include('library.ejs') -%>
</head>

<body>
    <%- include('menu.ejs') -%>
        <br>
        </br>
        <br>
        </br>
        <div id="login">
            <h3 class="text-center pt-5">
                <%= data.pageName %>
            </h3>
            <div class="container">
                <p></p>
                <form class="form" action="/work/create/2" method="POST">
                    <div class="form-group">
                        <label for="name" class="text-info">ชื่อทะเบียนงาน:</label><br>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="user" class="text-info">ชื่อผู้จัดทำ:</label><br>
                        <input type="text" name="user" id="user" class="form-control" value="<%= data.user.name %> <%= data.user.surname %>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="company" class="text-info">บริษัท:</label><br>
                        <select name="company" id="company" class="form-control">
                            <% data.company.forEach(company => { %>
                                <option value="<%= company._id %>"><%= company.name %></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="department" class="text-info">หน่วยงาน:</label><br>
                        <select name="department" id="department" class="form-control">
                            <%  company.departments.forEach(department => {%>
                                <option value="<%= department._id %>"><%= department.name %></option>
                                
                            <% });}); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                    </div>
                </form>

            </div>
        </div>
</body>

</html>